*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: #111111;
    color: #fff;
}
.heading{
    padding-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #fff;
}
.btn{
    border: none;
    cursor: pointer;
    display: block;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
} 
.btn:active{
    background: red;
}
.container{
    position: relative;
    width: 100%;
    max-width: 14rem;
    height: 14rem;
    background:#fff;
    margin: 1rem auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter{
    font-size: 4rem;
    color: #111111;
}
.btn-1{
    position: absolute;
    width: 3.8rem;
    height: 3.8rem;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 3.5rem;
}
.btn-1:active{
    background: blueviolet;
}
.increase{
    bottom: 10%;
    right: -15%;
}
.decrease{
    bottom: -10%;
    right: 15%;
}